@model SalesFiguresAPI.Models.DispatchInfoViewModel
        
<div class="mb10">
    <div class="alert-info">
        Dispatch Information
    </div>
    <div>
        Online-Dispatches: @Model.NumberOfDispatches
        Nil Picks: @Model.NumberOfNillPicks
    </div>
</div>