@model SalesFiguresAPI.Models.SalesByFamilyOfBusinessByHourViewModel

<div class="mb10">
    <div class="alert-info">
        Family Of Business By Hour
    </div>
    <div>
        Graph
    </div>
</div>