@model SalesFiguresAPI.Models.StorePageViewModel

    <div class="row">
        <h3>@Model.StoreId</h3>
        @Html.EnumDropDownListFor(m => m.StoreName, "Select My Store", new { @class = "form-control" })
    </div>

    <div class="row">
        <canvas id="myChart" width="800" height="400"></canvas>
    </div>

    @section Scripts{
        <script>
            $('#StoreName').on('change', function () {
                //localStorage["HomeStore"] = this.value;
                if (this.value == undefined) {
                    window.location.href = "/home/";
                }
                else {
                    window.location.href = "/home/store/" + this.value;
                }
                
                //var name = "HomeStore";
                //var value = this.value;
                //var expires = "";
                //document.cookie = name + "=" + value + expires + "; path=/";
            });

        </script>
    }
